<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @event.distance %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @event.desc %>
</p>

<p>
  <strong>Number:</strong>
  <%= @event.number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @event.distance %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>String:</strong>
  <%= @event.string %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
